#AboutMe {
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-block: 6.5rem;
}

#about {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;

    & p {
        font-size: 1.2rem;
    }

    & img {
        max-width: 20rem;
        max-height: 20rem;
        object-fit: cover;
        object-position: center;
        border-radius: 100%;
        margin-right: 2rem;
        filter: drop-shadow(0px 0px 10px #1d99ec);
    }
}

.titles {
    text-align: center;
    background: linear-gradient(#107169 0%, #2bd8c4 50%, #0063bf 100%);
    -webkit-background-clip: text;
    color: transparent;
    margin-bottom: 3rem;
}

@media (max-width: 800px) {
    #about {
        flex-direction: column;
        align-items: center;
        gap: 2rem;

        & img {
            margin-right: 0rem;
            max-width: 18rem;
            max-height: 18rem;
        }

        & p {
            max-width: 480px;
        }
    }
}
