#Presentation {
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#container {
    display: flex;
    justify-content: space-between;
    border-radius: 20px;

    & img {
        max-width: 20rem;
        max-height: 20rem;
        border-radius: 100%;
        margin-left: 2rem;
        filter: drop-shadow(0px 0px 10px #1d99ec);
        animation: slide-right-to-left 1s ease-out;
    }
}

@keyframes slide-right-to-left {
    from {
        opacity: 0;
        transform: translateX(150%);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    animation: slide-left-to-right 1s ease-in-out;
}

@keyframes slide-left-to-right {
    from {
        opacity: 0;
        transform: translateX(-100%);
    }
    to {
        opacity: 1;
        transform: translateX(0%);
    }
}

.description h1 {
    background: linear-gradient(#107169, #2bd8c4, #0063bf);
    -webkit-background-clip: text;
    color: transparent;
    margin-bottom: 1.5rem;
}

.description p {
    max-width: 30rem;
    font-size: 1.2rem;
}

@media (max-width: 800px) {
    #container {
        flex-direction: column-reverse;
        align-items: center;
        gap: 2rem;

        & h1 {
            text-align: center;
        }

        & img {
          margin-left: 0rem;
          max-width: 18rem;
          max-height: 18rem;
        }
    }
}
