.project-section {
    min-height: 100dvh;
}

.back-home-container {
    display: flex;
    align-items: center;
    gap: 1rem;
    font-weight: 300;
    margin-block: 1rem;
}

.back-home-btn {
    background: linear-gradient(90deg, rgba(23, 111, 143, 0.7), rgba(66, 191, 245, 0.7));
    padding: 0.25rem 1rem;
    border-radius: 0.5rem;
    border: 1px solid #0a5266;
}

.project-information-container {
    display: flex;
    gap: 3rem;
}

.project-information {
    width: 50%;

    & h1 {
        background: linear-gradient(#107169, #2bd8c4, #0063bf);
        -webkit-background-clip: text;
        color: transparent;
    }

    & hr {
        height: 0.1rem;
        width: 30%;
        border: 0;
        background: linear-gradient(to right, rgba(0, 0, 0, 0), #2bd8c4, #0063bf, #2bd8c4, rgba(0, 0, 0, 0));
        margin-block: 1rem;
        animation: linear-animation 3s ease infinite;
    }

    & p {
        color: rgba(255, 255, 255, 0.75);
    }
}

@keyframes linear-animation {
    0% {
        opacity: 0.75;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0.75;
    }
}

.project-more-information {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    margin-block: 1rem;

    & a {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0.25rem;
        background: linear-gradient(90deg, rgba(25, 111, 148, 0.3), rgba(68, 191, 253, 0.3), rgba(25, 111, 148, 0.3));
        border-radius: 0.4rem;
        padding: 0.5rem 1rem;
        opacity: 0.9;
        position: relative;
        overflow: hidden;
    }

    & a::before {
        content: "";
        position: absolute;
        top: -0%;
        bottom: 0%;
        left: 50%;
        right: 50%;
        background: linear-gradient(90deg, rgba(25, 111, 148, 0.3), rgba(68, 191, 253, 0.3), rgba(25, 111, 148, 0.3));
        border-radius: 0.4rem;
        transition: all ease 0.3s;
        opacity: 0;
    }

    & a:hover::before {
        z-index: -1;
        opacity: 1;
        left: 0%;
        right: 0%;
    }

    & img {
        width: 35px;
        height: 35px;
        margin: 0;
    }
}

.technologies {
    margin-block: 1rem;

    & h2 {
        font-size: 1.2rem;
        font-weight: 500;
        display: flex;
        align-items: center;
        gap: 0.5rem;
    }
}

.technologies-used {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap;
    padding-block: 1rem;

    & .technology {
        display: flex;
        flex-direction: row;
        align-items: center;
        background: linear-gradient(90deg, rgba(25, 111, 148, 0.3), rgba(68, 191, 253, 0.3), rgba(25, 111, 148, 0.3));
        border-radius: 0.4rem;
        padding: 0.25rem 0.5rem;
        gap: 0.5rem;
    }

    & img {
        width: 1.5rem;
        filter: opacity(0.9);
    }

    & p {
        font-size: 0.75rem;
    }
}

.project-features {
    width: 50%;
}

.project-view {
    margin-bottom: 1rem;
    overflow: hidden;
    border-radius: 0.4rem;
    border: 2px solid #0a5266;
    max-height: 400px;

    & img {
        display: block;
        width: 100%;
        scale: 1;
        transition: scale ease 0.3s;
    }

    & img:hover {
        scale: 1.1;
    }
}

.project-key-features {
    border: 1px solid #053542;
    border-radius: 0.4rem;
    padding: 1rem;
    position: relative;
    background: transparent;

    & h3 {
        display: flex;
        align-items: center;
        gap: 0.5rem;
    }
}

.project-key-features::before {
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    background: linear-gradient(90deg, rgba(25, 111, 148), rgba(68, 191, 253), rgba(25, 111, 148));
    z-index: -1;
    filter: blur(20px);
}

.key-features {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 1rem;

    & .feature {
        display: flex;
        align-items: center;
        border: 1px solid transparent;
        border-radius: 0.5rem;
        padding: 0.25rem 0.5rem;
        gap: 1rem;
        transition: all ease 0.3s;
    }

    & .feature:hover {
        border: 1px solid #053542;
        background: rgba(255, 255, 255, 0.05);
    }

    & .rounded-point {
        width: 5px;
        height: 5px;
        background: radial-gradient(#0fe4cb, #2172be);
        border-radius: 100%;
    }
}

@media (max-width: 900px) {
    .project-information-container {
        flex-direction: column;
        align-items: center;
        gap: 0rem;
    }

    .project-information {
        width: 100%;
    }

    .project-more-information {
        & a {
            padding: 0.5rem 0.5rem;
        }
    }

    .project-features {
        width: 100%;
    }
}
