#Skills {
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 6.5rem;
}

.ListOfSkills {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(17rem, 1fr));
    gap: 4rem;
    font-size: 1.1rem;
}

.Skill {
    border-radius: 10px;
    text-align: center;
    border: 1px solid #0a5266;
    padding: 1.5rem;
    background: linear-gradient(135deg, rgb(21, 13, 66, 0.4), rgb(19, 81, 108, 0.4));
    position: relative;
    overflow: hidden;
    isolation: isolate;

    & img {
        max-width: 40%;
        margin-bottom: 1rem;
    }

    & h3 {
        font-weight: 600;
        margin-bottom: 0.5rem;
    }

    & p {
        font-size: 0.8rem;
        opacity: 0.7;
        font-weight: 300;
    }
}

.Skill::before {
    content: "";
    position: absolute;
    width: 200%;
    height: 200%;
    z-index: -2;
    inset: -50%;
    transition: all ease 0.5s;
    opacity: 0;
    animation: border-rotation 3s linear infinite;
    animation-play-state: paused;
}

.Skill:hover::before {
    background-image: conic-gradient(#00ccff 0deg, transparent 60deg, transparent 180deg, transparent 240deg);
    opacity: 1;
    animation-play-state: running;
}

@keyframes border-rotation {
    to {
        transform: rotate(360deg);
    }
}

.Skill::after {
    content: "";
    position: absolute;
    background: linear-gradient(135deg, rgb(10, 6, 31), rgb(11, 46, 61));
    z-index: -1;
    inset: 1px;
    border-radius: inherit;
    transition: all 0.3s ease;
}

@media (max-width: 670px) {
    .ListOfSkills {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
    gap: 2rem;
    font-size: 1.1rem;
}
}