html {
    scroll-behavior: smooth;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    color: white;
    font-family: "Montserrat", sans-serif;
    font-size: clamp(1rem, calc(1.2dvw) ,2rem);
    line-height: clamp(1.5rem, calc(1.8dvw), 3rem);
}

h1 {
    font-size: 3rem;
    line-height: 3rem;
}

h2 {
    font-size: 2.5rem;
    line-height: 2.5rem;
}

h3 {
    font-size: 1.3rem;
    font-weight: 400;
    line-height: 1.3rem;
}

body {
    background: #000000;
    background-image: 
        radial-gradient(circle, rgba(255, 255, 255, 0.5) 1px, transparent 1.5px);
    background-size: 30px 30px;
    background-position: 0 0;
    color: white;
}

#root {

    background-color: #00000057;
    background-image: 
        linear-gradient(rgba(1, 16, 24, 0.8), rgba(2, 16, 22, 0.8));
    padding: 1rem 7rem
}

@media (max-width: 1250px) {
    #root {
        padding: 1rem 5rem
    }
}

@media (max-width: 1100px) {
    #root {
        padding: 1rem 2rem
    }
}

@media (max-width: 800px) {

    h3 {
        font-size: 1.2rem;
        line-height: 1.2rem;
    }
}




